// colors
$black-bg-color: #151414;
$white-color: white;
$orange-color:#ff5e14;

//font-size
$ten: 10px;
$fourteen: 14px;
$fifteen: 15px;
$sixteen: 16px;
$eighteen: 18px;
$twenty: 20px;
$twenty-five: 25px;
$thirty: 30px;


//border and border radius
$border-radius:5px;

$header-text-color: #fff;
$nav-background-color: #333;
$nav-text-color: #fff;

// Base styles
$padding-base: 1em;
$home-heading-color:beige;
$box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
$color-primary: #363d55;
$color-secondary: #414a67;
$color-background: #ffffff;
$color-shadow: rgba(28, 0, 80, 0.06);
$color-error: #ff465a;


$font-size: 16px;
$white-color: white;

