.main-content {
  padding: 40px 20px;
  margin-top: 70px;
  width: 100%;
}

.s-layout__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
    margin-left: 4em;
  }
}

@media (min-width: 68em) {
  .s-layout__content {
    margin-left: 15em;
  }
}
