<section>
  <div class="container">
    <div class="form-container">
      <form
        #resetPasswordForm="ngForm"
        (ngSubmit)="onSubmit(resetPasswordForm)"
        class="login-form"
      >
        <div class="header">
          <h5>Forgot your password?</h5>
          <p>Send mail to reset your password!!</p>
        </div>
        <div class="user__details">
          <div class="input__box">
            <span class="details">Email</span>
            <input
              type="email"
              placeholder="E-mail"
              name="email"
              required
              [(ngModel)]="user.email"
              #email="ngModel"
            />
            <div
              *ngIf="resetPasswordForm.submitted && email.invalid"
              class="invalid-feedback"
            >
              <span *ngIf="email.errors!['required']">E-mail is required</span>
            </div>
          </div>
        </div>
        <button class="register__btn" type="submit">Submit</button>
        <div class="footer">
          <p class="message">Back to login? <a routerLink="/login">here</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
