<div class="sidebar-layout">
  <div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
      <a class="s-sidebar__trigger">
        <i class="fa fa-bars"></i>
      </a>
      <nav class="s-sidebar__nav">
        <ul>
          <li>
            <a class="s-sidebar__nav-link" href="#" routerLink="/profile">
              <i class="fa fa-user"></i><em>My Profile</em>
            </a>
          </li>
          <li>
            <a class="s-sidebar__nav-link" routerLink="/dashboard/budget">
              <i class="fas fa-comments-dollar"></i><em>Manage Budget</em>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
