<!-- Home page -->
<section class="main-section-container">
  <div class="left-section-layout">
    <h1>Managing Budget, Made simple</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil numquam eum
      labore ab ut tempore doloribus vero quasi non at.
    </p>
    <div class="btn-container">
      <button class="btn" (click)="redirectToSignUp()">Get started</button>
      <button class="btn" (click)="redirectToLogin()">Login</button>
    </div>
  </div>
</section>
